@font-face {
    font-family: 'Kiona';
    src: local('Kiona'), url(../assets/fonts/Kiona-Regular.ttf) format('otf');
}
@font-face {
    font-family: 'Quicksand';
    src: local('Quicksand'), url(../assets/fonts/Quicksand_Book.otf) format('otf');
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(../assets/fonts/comfortaa.ttf) format('ttf');
}
@font-face {
    font-family: 'Maimoonde';
    src: local('Maimoonde'), url(../assets/fonts/Maimoonde.ttf) format('ttf');
}

